@model LoginAndRegistration.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = null;
}

<head>
    <title>YOURSPACE Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Medical Appointment Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates,
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="~/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
    <link href="~/css/style2.css" rel='stylesheet' type='text/css' />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <!--//fonts-->
</head>
<body>

    @if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
    {
        if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                <strong>Success!</strong>@ViewBag.Message
            </div>
        }
    }
    else
    {
        <h1> YOURSPACE </h1>
        <div class="bg-agile">
            <div class="book-appointment">
                <h2>Register: Create an Account</h2>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="left-agileits-w3layouts same">
                        <div class="gaps">
                            <p>@Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })</p>

                            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            <div>
                                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="gaps">
                            <p>@Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })</p>

                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                            <div>
                                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="gaps">
                            <p>@Html.LabelFor(model => model.EmailID, htmlAttributes: new { @class = "control-label col-md-2" })</p>

                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                            <div>
                                @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="right-agileinfo same">
                        <div class="gaps">
                            <p>@Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })</p>

                            @Html.EditorFor(model => model.DateOfBirth, new { htmlAttributes = new { @class = "form-control", @type = "text", @id = "datepicker1",  } })
                            <div>
                                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="gaps">
                            <p>@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })</p>

                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            <div>
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="gaps">
                            <p>@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2" })</p>

                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            <div>
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Sign Up" class="btn btn-default" />
                        </div>
                    </div>

                    <div>
                        <p>Go To @Html.ActionLink("Login", "Login")</p>
                    </div>

                    if (ViewBag.Message != null)
                    {
                        <div class="alert alert-danger">
                            <strong>Error!</strong>@ViewBag.Message
                        </div>
                    }
                }
            </div>

            <!--footer-->
            <div class="copy w3ls">
                <p>&copy; 2016 YOURSPACE Login Form. All rights reserved | Design by <a href="https://www.linkedin.com/in/dale-lambert-a35965bb/">Dale Lambert</a></p>
            </div>
            <!--//footer-->
        </div>
    }


    <script type="text/javascript" src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/wickedpicker.js"></script>
    <script type="text/javascript">
        $('.timepicker').wickedpicker({ twentyFour: false });
    </script>
    <!-- Calendar -->
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <script src="~/js/jquery-ui.js"></script>
    <script>
        $(function () {
            $("#datepicker,#datepicker1,#datepicker2,#datepicker3").datepicker();
        });
    </script>
    <!-- //Calendar -->

</body>

@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

